.DS_Store
.idea/
data/dataset
MeTA/__pycache__
MeTA/contents
MeTA/contents-idx
MeTA/abstractions
MeTA/filelist
MeTA/introductions
MeTA/titles
results
data/details
data/docs.txt
data/output.aminer.w1000.l100.txt
data/net_aminer
MeTA/AMiner/AMiner.dat
MeTA/AMiner/details
m2vpp.aminer2017.w1000.l100.txt.size128.window7.negative5.txt