.DS_Store
.idea/
data/dataset
MeTA/__pycache__
MeTA/contents
MeTA/contents-idx
MeTA/abstractions
MeTA/filelist
MeTA/introductions
MeTA/titles
results
data/details
data/docs.txt
data/output.aminer.w1000.l100.txt
data/net_aminer
data/py4genMetaPaths2.py
run.sh